
config:
	# Site
	title: 'Site name',
	subtitle: 'Site subtitle',
	description: 'Site description',
	language: 'en',

	# URL
	url: 'http://localhost:4000/',
	root: '/',
	path_css: '/assets/css/',
	path_js: '/assets/js/',
	path_icon: '/assets/css/icon/',
	path_favicon: '/favicon.ico',
	path_feed: '/atom.xml',
